www.{$WP_DOMAIN} {
    redir https://{$WP_DOMAIN}{uri} permanent
}

http://{$WP_DOMAIN} {
    redir https://{$WP_DOMAIN}{uri} permanent
}

https://{$WP_DOMAIN} {
    root * /var/www/html
    php_fastcgi wordpress:9000
    file_server
    encode gzip

    @disallowed {
        path /xmlrpc.php
        path *.sql
        path /wp-content/uploads/*.php
    }
    rewrite @disallowed '/index.php'
}

https://{$DB_DOMAIN} {
    reverse_proxy phpmyadmin:80
}
